<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CategoryAdd</title>
</head>
<body>
<form th:action="@{/category/add}" th:object="${category}" method="post">
    <div class="form-group">
        <label> Name :</label> <input type="text" class="form-control" placeholder="Enter name" name="name" th:field="${category.name}"/>
        <p th:if="${#fields.hasErrors('name')}" th:errors="${category.name}" style="color: red"></p>
    </div>
    <br>
    <div><input type="submit" value="add"/></div>
</form>
<br>
<a th:if="${marker} == 1">
    <p style="color: green">Category is add</p>
</a>
<p>Click <a th:href="@{/}">here</a> to home</p>
</body>
</html>