<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:action="@{/user/registration}" th:object="${user}" method="post">
    <div class="form-group">
        <label> Name :</label> <input type="text" class="form-control" placeholder="Enter name" name="name" th:field="*{name}"/>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></p>
    </div>
    <br>
    <div class="form-group">
        <label> Login :</label> <input type="text" class="form-control" placeholder="Enter login" name="login" th:field="*{login}"/>
        <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="color: red"></p>
    </div>
    <br>
    <div class="form-group">
        <label> Password :</label> <input type="text" class="form-control" placeholder="Enter password" name="password" th:field="*{password}"/>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></p>
    </div>
    <br>
    <div><input type="submit" value="registration"/></div>
</form>
<br>
<a th:if="${marker} == 1">
    <p style="color: green">User is add</p>
</a>
<p>Click <a th:href="@{/}">here</a> to home</p>
<p>Click <a th:href="@{/user/authentication}">here</a> to authentication</p>
</body>
</html>