<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>updatePassword</title>
</head>
<body>
<form th:action="@{/user/updatePassword}" th:object="${newPassword}" method="post">
    <div class="form-group">
        <label> Password :</label> <input type="text" class="form-control" placeholder="Enter password" name="password" th:field="${newPassword.password}"/>
        <p th:if="${#fields.hasErrors('password')}" th:errors="${newPassword.password}" style="color: red"></p>
    </div>
    <br>
    <div><input type="submit" value="update password"/></div>
    <br>
</form>
<br>
<p>Click <a th:href="@{/}">here</a> to home</p>
</body>
</html>